/* ----------------------------------------------------------------------------------- */
/* ------------------------------------Layout + Main---------------------------------- */
/* ----------------------------------------------------------------------------------- */
.app-layout {
  display: grid;
  grid-template-rows: var(--header-height) calc(100vh - var(--header-height) - var(--footer-height));
  grid-template-columns: auto;
  grid-template-areas: 'header' 'main';
}

.app-main {
  grid-area: main;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-background);
  padding-top: 0.5rem;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------------Header + Appbar-------------------------------- */
/* ----------------------------------------------------------------------------------- */
.app-header {
  grid-area: header;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.app-bar {
  color: var(--color-on-bg);
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.app-bar__item {
  height: 100%;
  display: flex;
  align-items: center;
}

.app-bar__logo {
  grid-column: 1 / 2;
  align-self: center;
  justify-self: center;
  height: var(--header-height);
  padding: 0.25rem 0;
}

.app-bar__route {
  grid-column: 2 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.25rem;
}

.app-bar__actions {
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------------Bottom Nav------------------------------------- */
/* ----------------------------------------------------------------------------------- */
.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
}

.bottom-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 4px rgb(0 0 0 / 50%);
}

.nav-list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-list__tab {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  font-size: 0.8rem;
  border-top: 2px solid transparent;
}

.fab__outer {
  --fab-size: 60px;
  margin-bottom: 50px;
  width: var(--fab-size);
  height: var(--fab-size);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--color-background);
  /* font-size: 22px; */
  border-radius: 50%;
  /* border: 6px solid transparent; */
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.fab__outer:focus {
  border-color: var(--color-primary);
}

.fab__inner {
  width: var(--fab-size);
  height: var(--fab-size);
  /* background-color: var(--color-primary);; */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fab__inner:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.route {
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: white;
  outline: none;
}

.route:focus .nav-list__tab {
  border-color: var(--color-primary);
  background-color: var(--color-secondary--variant);
}

.route--active {
  color: var(--color-primary);
}
