/* ----------------------------------------------------------------------------------- */
/* ------------------------------------Layout + Main---------------------------------- */
/* ----------------------------------------------------------------------------------- */
.app-layout {
  display: grid;
  grid-template-rows: var(--header-height) calc(100vh - var(--header-height) - var(--footer-height));
  grid-template-columns: auto;
  grid-template-areas: 'header' 'main';
}

.app-main {
  grid-area: main;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-background);
  padding-top: 0.5rem;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------------Header + Appbar-------------------------------- */
/* ----------------------------------------------------------------------------------- */
.app-header {
  grid-area: header;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.app-bar {
  color: var(--color-on-bg);
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.app-bar__item {
  height: 100%;
  display: flex;
  align-items: center;
}

.app-bar__logo {
  grid-column: 1 / 2;
  align-self: center;
  justify-self: center;
  height: var(--header-height);
  padding: 0.25rem 0;
}

.app-bar__route {
  grid-column: 2 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.25rem;
}

.app-bar__actions {
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------------Scrollbar------------------------------------- */
/* ----------------------------------------------------------------------------------- */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary--variant);
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------------Bottom Nav------------------------------------- */
/* ----------------------------------------------------------------------------------- */
.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: transparent;
}

.bottom-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* box-shadow: 0 -2px 4px rgb(0 0 0 / 50%); */
}

.nav-list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
}

.nav-list__action {
  margin-bottom: 45px;
}

.nav-list__tab {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  font-size: 0.8rem;
  border-top: 2px solid transparent;
}

/* .nav-list__tab--center {
  background-color: transparent;
} */

.nav-list__tab--hide {
  display: none;
}

.fab__outer {
  position: absolute;
  height: 56px;
  width: 56px;
  bottom: 10px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab__outer:focus {
  border-color: var(--color-primary);
}

.fab__outer:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.fab__inner {
  position: absolute;
  height: 56px;
  width: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.route {
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: white;
  outline: none;
}

.route:focus .nav-list__tab {
  border-color: var(--color-primary);
  background-color: var(--color-secondary--variant);
}

.route--active {
  color: var(--color-primary);
}
