@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-background);
}

:root {
  /* Default color theme: inspired by No.27: https://visme.co/blog/website-color-schemes/ */
  --color-primary: #86c232;
  --color-primary--variant: #61892f;
  --color-secondary: #474b4f;
  --color-secondary--variant: #6b6e70;
  --color-background: #222629;
  --color-surface: #222629;

  --color-on-primary: #fff;
  --color-on-secondary: #fff;
  --color-on-bg: #fff;
  --color-on-surface: #fff;

  /* Status colors */
  --color-success: #00c851;
  --color-error: #ff4444;
  --color-warning: #ffbb33;
  --color-info: #1976d2;
}

/* utility classes */

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  column-gap: 0.5rem;
}

.indent-h-sm {
  padding: 0 1rem;
}

.pl-5 {
  padding-left: 20px;
}

.material-icons {
  background-color: transparent;
}

.material-btn {
  outline: none;
  border: none;
  color: inherit;
  border-radius: 50%;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:active {
  background-color: #6eb97f;
  background-size: 100%;
  transition: background 0s;
}
