@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

:root {
  /* Default color theme: inspired by No.27: https://visme.co/blog/website-color-schemes/ */
  --color-primary: #86c232;
  --color-primary--variant: #61892f;
  --color-secondary: #474b4f;
  --color-secondary--variant: #6b6e70;
  --color-background: #222629;
  --color-surface: #292e31;

  --color-on-primary: #fff;
  --color-on-secondary: #fff;
  --color-on-bg: #fff;
  --color-on-surface: #fff;

  /* Status colors */
  --color-success: #00c851;
  --color-error: #ff4444;
  --color-warning: #ffbb33;
  --color-info: #1976d2;
  /* alt: rgba(115, 250, 255, 1) */
  --color-active: #73faff;

  /* Misc. */
  --header-height: 50px;
  --footer-height: 50px;
  --card-border-radius: 2.5px;
  --scrollbar-width: 10px;
}

/* utility classes */

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: fit-content(1em);
  column-gap: 0.5rem;
  row-gap: 0.75rem;
}

.col-1-span-4 {
  grid-column: 1 / span 4;
}

.indent-h-sm {
  padding: 0 1rem;
}

.content-spacing {
  padding: 0.5rem;
}

.pr-5 {
  padding-right: 5px;
}

.p .material-icons {
  background-color: transparent;
}

.material-btn {
  outline: none;
  border: none;
  color: inherit;
  border-radius: 50%;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.success {
  color: var(--color-primary--variant);
}

.material-icons.error {
  color: var(--color-error);
}

.ripple {
  background-color: inherit;
  background-position: center;
  transition: background 0.5s;
}

.ripple:hover,
.ripple:focus {
  background-color: var(--color-secondary--variant);
}

.ripple:active {
  background-color: #6eb97f;
  background-size: 100%;
  transition: background 0s;
}
