/* --------------------------------------- */
/* ----------Layout Basic Styles---------- */
/* --------------------------------------- */
@use '../../../styles/scss/config/helpers' as *;

.app-layout {
  display: grid;
  grid-template-rows: cssvar(header-height) calc(
      100vh - cssvar(header-height) - cssvar(footer-height)
    );
  grid-template-columns: auto;
  grid-template-areas: 'header' 'main';
}

.app-main {
  grid-area: main;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: cssvar(color-background);
  color: cssvar(color-on-bg);
  padding: 0.5rem;
}

.app-header {
  grid-area: header;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: cssvar(footer-height);
  background-color: transparent;
}

/* --------------------------------------- */
/* ----------Layout Basic Styles---------- */
/* --------------------------------------- */
::-webkit-scrollbar {
  width: cssvar(scrollbar-width);
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: cssvar(color-secondary);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: cssvar(color-secondary--variant);
}
