.app-fab {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-background);
  border: 1px solid transparent;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.app-fab:focus {
  border-color: var(--color-primary);
}

.app-fab:hover {
  cursor: pointer;
}

.app-fab--mini {
  height: 40px;
  padding: 8px;
}

.app-fab--extended {
  border-radius: 30px;
  height: 48px;
  padding-left: 12px;
  padding-right: 20px;
}

.app-fab--border {
  border-color: var(--color-primary);
}
