@use './utils';

// Default color theme: inspired by No.27: https://visme.co/blog/website-color-schemes/
@include utils.cssvars(
  (
    color-primary: #86c232,
    color-primary--variant: #61892f,
    color-secondary: #474b4f,
    color-secondary--variant: #6b6e70,
    color-background: #222629,
    color-surface: #292e31,
    color-on-primary: #fff,
    color-on-secondary: #fff,
    color-on-bg: #fff,
    color-on-surface: #fff,
  )
);

// Status colors
@include utils.cssvars(
  (
    color-success: #00c851,
    color-error: #ff4444,
    color-warning: #ffbb33,
    color-info: #1976d2,
  )
);

// Media Breakpoints
@include utils.cssvars(
  (
    small: 576px,
    medium: 768px,
    large: 992px,
    extra-large: 1200px,
    extra-extra-large: 1400px,
  )
);

// Misc.
@include utils.cssvars(
  (
    header-height: 3rem,
    footer-height: 3rem,
    card-border-radius: 2.5px,
    scrollbar-width: 10px,
  )
);
