@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #222629;
}

.route {
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: white;
}

.route--active {
  color: #86c232;
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  column-gap: 0.5rem;
}

.indent-h-sm {
  padding: 0 1rem;
}

.pl-5 {
  padding-left: 20px;
}

.material-icons {
  background-color: transparent;
}

.material-btn {
  outline: none;
  border: none;
  color: inherit;
  border-radius: 50%;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:active {
  background-color: #6eb97f;
  background-size: 100%;
  transition: background 0s;
}
/* :root {
 --primary-color: #86c232;
  --bg-Primary: #222629;
  --bg-Secondary: #6b6e70;
} */
