<nav class="bottom-nav">
  <ul class="nav-list">
    <a
      class="route"
      routerLink=""
      routerLinkActive="route--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <li class="nav-list__tab">
        <span class="material-icons">home</span>Home
      </li>
    </a>
    <a class="route" routerLink="/workouts" routerLinkActive="route--active">
      <li class="nav-list__tab">
        <span class="material-icons">fitness_center</span>Workouts
      </li>
    </a>
    <!-- <li *ngIf="routeHasMainAction" class="nav-list__tab nav-list__tab--center">
      <div class="nav-list__action">
        <rpt-material-btn icon="add" [border]="true"></rpt-material-btn>
      </div>
    </li> -->
    <a class="route" routerLink="/calendar" routerLinkActive="route--active">
      <li class="nav-list__tab">
        <span class="material-icons">date_range</span>Calendar
      </li>
    </a>
    <a class="route" routerLink="/profile" routerLinkActive="route--active">
      <li class="nav-list__tab">
        <span class="material-icons">person</span>Me
      </li>
    </a>
  </ul>
</nav>
