@use '../../../styles/scss/config/helpers' as *;

.textfield {
  width: 100%;
  border-radius: 5px;
  position: relative;

  &__label {
    position: absolute;
    font-size: 16px;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: cssvar(color-on-bg);
    background-color: cssvar(color-background);
    padding: 0 0.75em 0 0;
    transition: 0.1s ease-out;
    pointer-events: none;
  }

  &__label--hold {
    top: 0;
    left: 0.75em;
    padding: 0 0.25em;
    font-size: 12px;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    outline: none;
    border: 1px solid cssvar(color-secondary);
    border-radius: 5px;
    padding: 1em 0.75em 1em 1em;
    color: cssvar(color-on-bg);
    background-color: cssvar(color-background);
    resize: none;
    transition: 0.1s ease-out;
  }

  &__input:disabled {
    color: cssvar(color-secondary);
    cursor: not-allowed;
  }

  &__input--border-none {
    border: 1px solid transparent;
  }

  &__input--dense {
    padding: 0.5em 0.375em 0.5em 0.5em;
  }

  &__input:focus {
    border: 1px solid cssvar(color-primary);
  }

  /* on textfield focus, move label */
  &__input:focus+&__label {
    color: cssvar(color-primary);
    top: 0;
    left: 0.75em;
    padding: 0 0.25em;
    font-size: 12px;
  }

  &__input--error {
    border-color: cssvar(color-error);
  }

  &__input--error:focus {
    border-color: cssvar(color-error);
  }

  &__input--error:focus+&__label {
    color: cssvar(color-error);
  }

  &__helpertext {
    display: block;
    font-size: 12px;
    color: cssvar(color-secondary);
    padding: 0 0 0 1em;
  }

  &__helpertext--error {
    color: cssvar(color-error);
    font-weight: bold;
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.25em;
  }
}