.workout {
  width: 100%;
  height: 100px;
  grid-column: 1 / span 4;
  background-color: var(--color-bg);
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  border-radius: 2.5px;
  z-index: 0;
  border-left: 2px solid var(--color-primary);
  color: var(--color-on-primary);
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
}

.workout__content {
  padding: 0.5rem;
}

.workout__nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--color-on-primary);
  border-bottom-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
  border: none;
  cursor: pointer;
  outline: none;
}
