.exercise-card {
  width: 100%;
  height: auto;
  background-color: var(--color-bg);
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 50%); */
  /* box-shadow: 0 0 5px 0 #000000 inset; */
  /* margin: 1rem 0; */
  /* border-left: 2px solid var(--color-primary); */
  /* border-radius: 2.5px; */
  z-index: 0;
  padding: 0;
  margin: 0;
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: column;
}
